@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:regular,italic,700);

body{
    background-color: #f1edec;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #292828;
}
.castle1 {
    background-image: url("images/castle3.jpg"); 
    background-size:cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size:x-large;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    padding: 100px 20px; 
    height: 200px;
}
